<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-10 col-md-7 col-lg-5 mx-auto ">
            <h4 class="m-3 text-center border-3 border-bottom p-2 border-muted text-dark" ><i class="fas fa-unlock-alt"></i> Change Password</h4>

            <form class="text-dark" #ref="ngForm" (ngSubmit)="onSubmitPassword(ref)">
                <div class="mb-3 mt-3">
                    <label for="pass" class="form-label text-dark">Enter Password</label>

                    <input type="password" class="form-control text-dark" id="pass" name="password" ngModel #refPassword="ngModel" required minlength="6" maxlength="9" pattern="(?=.*[@#$%^&*]).{6,9}">

                    <p class="text-danger" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required">*
                        Password is required
                    </p>
                    <p class="text-danger" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.maxlength">*
                        Length should not exceed 9
                   </p>
                   <p class="text-danger" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.minlength">*
                    min  Length should be 6
                 </p>
                   <p class="text-danger" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.pattern">*
                    atleast one special character[@#$%^&*]
                 </p>


                </div>

                <div class="mb-3 mt-2">
                    <label for="re-pass" class="form-label text-dark">Re-Enter Password</label>

                    <input type="password" class="form-control text-dark" id="re-pass" name="ConfirmPassword" ngModel>
                </div>

                <div>
                    <button class="btn btn-success d-block mx-auto mt-4">Change Password</button>
                </div>

            </form>
            </div>
    </div>
</div>

