<div class="container table-content">

    <p class="lead display-5">Users Data</p>
    <div class="row mb-3">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
        <input type="text" name="search"  class="form-control border-2 border-dark" id="" placeholder="Search by Account Number" [(ngModel)]="searchTerm">
        </div>
    </div>
    <form #ref="ngForm" (ngSubmit)="saveUserData(ref.value)">
    <table class="table">
        
        <thead>
            <th>CUST-NAME</th>
            <th>CUST-ADDRESS</th>
            <th>CUST-MOBILENO</th>
            <th>CUST-DOB</th>
            <th>CUST-EMAIL</th>
        </thead>

        <tbody>
            <tr *ngFor="let userobj of usersList| searchAccno:searchTerm ;let ind=index">
                <!--cust-name-->
                <td>
                    <span *ngIf="!editUserStatus || editUserIndex!==ind">
                        {{userobj[1]}}
                    </span>
                    <input type="text" name="custname" id="" *ngIf="editUserStatus && editUserIndex==ind" [(ngModel)]="editUserObj[1]">
                </td>
                <!--cust-address-->
                <td>
                    <span *ngIf="!editUserStatus || editUserIndex!==ind">
                        {{userobj[2]}}
                    </span>
                    <input type="text" name="custaddress" id="" *ngIf="editUserStatus && editUserIndex==ind" [(ngModel)]="editUserObj[2]">
                </td>
            <!--cust-mobileno.-->
                <td>
                    <span *ngIf="!editUserStatus || editUserIndex!==ind">
                        {{userobj[3]}}
                    </span>
                    <input type="text" name="custmobileno" id="" *ngIf="editUserStatus && editUserIndex==ind" [(ngModel)]="editUserObj[3]">
                </td>
                <!--cust dob-->
                <td>
                    <span *ngIf="!editUserStatus || editUserIndex!==ind">
                        {{userobj[4] | date}}
                    </span>
                    <input type="text" name="custdob" id="" *ngIf="editUserStatus && editUserIndex==ind" [(ngModel)]="editUserObj[4]">
                </td>
                <!--email-->
                <td>
                    <span *ngIf="!editUserStatus || editUserIndex!==ind">
                        {{userobj[5]}}
                    </span>
                    <input type="text" name="custemail" id="" *ngIf="editUserStatus && editUserIndex==ind" [(ngModel)]="editUserObj[5]">
                </td>
                <!--buttons of edit and delete-->
                <td>
                    <span *ngIf="!editUserStatus || editUserIndex!==ind">
                        <button class="btn btn-danger btn-sm p-1 m-1"(click)="editUser(userobj,ind)" type="button" ><i
                                class="fas fa-edit text-warning"></i></button>
                        <button class="btn btn-warning btn-sm p-1 m-1" (click)="deleteUserData(userobj)" type="button"><i
                                class="fas fa-trash-alt text-danger" ></i></button>
                    </span>
                    <!--save-->
                    <span *ngIf="editUserStatus && editUserIndex==ind">
                        <button class="btn btn-sm btn-success" type="submit" ><i
                                class="fas fa-save text-white"></i></button>
                    </span>
                    
                </td>
            </tr>
        </tbody>

    </table>
    <!-- <div class="text-center mt-5 mb-5 p-3">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div> -->

    </form>

</div>
