<h3 class="text-center mx-auto mt-4 mb-2">Welcome admin</h3>

<div class="row mt-5" >
    <div class="col-lg-2"></div>
    
    <div class="col-lg-4 ">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: #534891;" ><a routerLink="updateAcc" style="text-decoration: none;color: white;"> Update / Delete / Edit </a></button>
    </div>
    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: #534891;"><a routerLink="accTransactions" style="text-decoration: none;color: white;">Transactions</a></button>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: #534891;"><a routerLink="getUsers" style="text-decoration: none;color: white;">Users Details List</a></button>
    </div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: #534891;"><a routerLink="getTransactions" style="text-decoration: none;color: white;">Transctions History</a></button>
    </div>

    <div class="col-lg-2"></div>

    <div class="col-lg-2"></div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: #534891;"><a routerLink="addUser" style="text-decoration: none;color: white;">Add / Review Registerd Users</a></button>
    </div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: #534891;"><a routerLink="changePass" style="text-decoration: none;color: white;">Change Password</a></button>
    </div>

    <div class="col-lg-2"></div>

</div>







