<h3 class="text-center mx-auto mt-4 mb-2">Welcome admin</h3>

<div class="row mt-5" >
    <div class="col-lg-2"></div>
    
    <div class="col-lg-4 ">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);" ><a routerLink="updateAcc" style="text-decoration: none;color: white;"> Update / Delete / Edit </a></button>
    </div>
    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="accTransactions" style="text-decoration: none;color: white;">Transactions</a></button>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="getUsers" style="text-decoration: none;color: white;">Users Details List</a></button>
    </div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="getTransactions" style="text-decoration: none;color: white;">Transctions history</a></button>
    </div>

    <div class="col-lg-2"></div>

</div>


<button class="btn btn-primary d-block mx-auto m-4" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="addUser" style="text-decoration: none;color: white;">Add / review registerd users</a></button>




