<ul class="nav nav-pills nav-fill">
    <li class="nav-item ">
        <button class="btn mt-3" style="width:10rem;height: 50px;background-color: rgb(142, 42, 236);">
      <a class="nav-link text-white " aria-current="page" routerLink="createUser" >Add users</a>
      </button>
    </li>
    <li class="nav-item ">
        <button class="btn mt-3" style="width:10rem;height: 50px;background-color: rgb(142, 42, 236);">
      <a class="nav-link text-white " aria-current="page" routerLink="reviewUser" >Review Users</a>
      </button>
    </li>
    
  </ul>


<div>
    <router-outlet></router-outlet>
</div>