<ul class="nav nav-pills justify-content-evenly m-3">
    <li class="nav-item ">
        <button class="btn mt-3" style="width:10rem;height: 50px;">
      <a class="nav-link  " aria-current="page" routerLink="createUser" routerLinkActive="active" >Add users</a>
      </button>
    </li>
    <li class="nav-item ">
        <button class="btn mt-3" style="width:10rem;height: 50px;">
      <a class="nav-link  " aria-current="page" routerLink="reviewUser" routerLinkActive="active">Review Users</a>
      </button>
    </li>
    
  </ul>


<div>
    <router-outlet></router-outlet>
</div>