<div class="container">
    
    <div class="row">
        <div class="col-sm-10 col-md-7 col-lg-5 mx-auto ">
            <h4 class="m-3 text-center border-3 border-bottom p-2 border-muted text-dark" ><i class="fab fa-paypal"></i> Make Payments Here</h4>
        <form #ref="ngForm" (ngSubmit)="ref.form.valid && onSubmitTranser(ref)">
        
          <!-- <div class="mb-3 mt-2">
                <label for="acc" class="form-label text-dark">From Account Number</label>
        
                <input type="text" class="form-control text-dark" id="acc" name="fromAccNo" ngModel required minlength="10" maxlength="10"
                    #refaccNo="ngModel" autocomplete="off" placeholder="bank123" disabled >
        
                <p class="text-danger" *ngIf="(ref.submitted||refaccNo.touched)&&refaccNo.errors?.required">*
                   account number is required
                </p>
        
                <p class="text-danger" *ngIf="(ref.submitted||refaccNo.touched)&&refaccNo.errors?.minlength">*
                    Length should be 10
                </p>
            </div> -->


                <div>
                    
                     <h5 class="text-center text-success m-2 mt-4"> Available Balance : {{prevBalance}}</h5>
                    
                </div>
            


            <div class="mb-3 mt-2">
                <label for="toacc" class="form-label text-dark">To Account Number</label>
        
                <input type="text" class="form-control text-dark" id="toacc" name="toAccNo" placeholder="1234567XXX" ngModel >
    
            </div>

            <div class="mb-3 mt-2">
                <label for="transfer" class="form-label text-dark">Enter Amount Here</label>
        
                <input type="text" class="form-control text-dark" id="transfer" name="amount" placeholder="100" ngModel >
    
            </div>

            <div>
                <button class="btn btn-success d-block mx-auto mt-3 " type="submit">Transfer Money</button>
            </div>

        </form>
        </div>
    </div>
</div>
