<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-7 col-lg-5 mx-auto mt-3 p-3 ">
            <h4 class="m-5 text-center border-3 border-bottom p-2 border-muted text-dark" id="lh"><i class="fas fa-sign-in-alt"></i>Forgot Password</h4>
            <form class="text-dark" #ref="ngForm" (ngSubmit)="ref.form.valid && onSubmit(ref) ">


                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="admin" ngModel value="admin">
                    <label class="form-check-label" for="admin">
                        Admin
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="user" ngModel value="user">
                    <label class="form-check-label" for="user">
                        User
                    </label>
                </div>
    
                <div class="mb-3 mt-2">
                    <label for="an" class="form-label text-dark"><i class="far fa-user"></i> Enter ID</label>
            
                    <input type="number" class="form-control text-dark" id="an" name="id" ngModel required minlength="4"
                        #refUsername="ngModel" autocomplete="off">
            
                    <p class="text-danger" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.required">*
                        customer id is required
                    </p>
            
                    <p class="text-danger" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.minlength">*
                        Length should be 4
                    </p>
                </div>

    
                <button type="submit" class="btn btn-success d-block mx-auto mt-5 mb-2">Submit</button>
    
               
    
            </form>
    
    
        </div>
    
        </div>
    
    </div>


