<p class="lead display-6">Transaction History :</p>

<div class="table-content">
<div class="table">
    <thead>
        <th>TRAN-ID</th>
        <th>TRAN-DATE</th>
        <th>ACC-NO</th>
        <th>TRANDESC</th>
        <th>DEBIT</th>
        <th>CREDIT</th>
        <th>AVAIL-BAL</th>
        
    </thead>

    <tbody>
        <tr *ngFor="let transcObj of getTransactions ">
            <td>{{transcObj[0]}}</td>
            <td>{{transcObj[1] | date}}</td>
            <td>{{transcObj[2]}}</td>
            <td>{{transcObj[3]}}</td>
            <td>{{transcObj[4]}}</td>
            <td>{{transcObj[5]}}</td>
            <td>{{transcObj[6]}}</td>
           

        </tr>
    </tbody>
    </div>
    </div>
