<!--<h3 class="text-center mx-auto p-4 "> NARCOS BANK</h3>-->






<div style="color: #534891;"> 
  
        <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/bank1.jpeg" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/bank2.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/bank3.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
  
  
  
  
  
  
  
  <div class="row mt-5 mb-5">
  
      <div class="col-sm-4 mt-5">
          <div class="card  " style="max-width: 22rem; border-color: #534891;">
              <div class="card-body  ">
               <h3 class="mt-4">Discover</h3>
               <ul class="mb-5" id="list">
                   <li> Home loans</li>
                   <li> Bank accounts</li>
                   <li> Credit cards</li>
                   <li> Personal loans</li>
               </ul>
              </div>
            </div>
          </div>
  
          <div class="col-sm-4 mt-5">
              <div class="card  " style="max-width: 22rem;border-color: #534891;">
                  <div class="card-body  ">
                   <h3 class="mt-4">Self service</h3>
                   <ul class="mb-5" id="list">
                       <li> Internet & Mobile Banking</li>
                       <li> Report your card lost or stolen</li>
                       <li> Update your details</li>
                       <li> Download the Mobile Banking App</li>
                   </ul>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-4 mt-5">
                  <div class="card  " style="max-width: 22rem;border-color: #534891;">
                      <div class="card-body  ">
                       <h3 class="mt-4">Get in touch</h3>
                       <ul class="mb-5" id="list">
                           <li> Contact us</li>
                           <li> Find your local branch</li>
                           <li> Book a banker</li>
                           <li> Mail us</li>
                       </ul>
                      </div>
                    </div>
              </div>
  
    </div>
  
  