<!-- <h1 class="text-center mt-3 text-danger">Hello User</h1>
<div class="row mt-5">
    <div class="col mt-5">
        <button class="btn d-block mx-auto m-2" style="width:18rem;
        height: 60px;background-color: #534891;"><a routerLink="transferfunds" 
        style="text-decoration: none;color: white;">Transfer Funds</a></button>
    </div>
    <div class="col mt-5">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;
        height: 60px;background-color: #534891;">
        <a routerLink="transactionstatements" style="text-decoration: none;color: white;">
            Transaction Statements</a></button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col mt-5">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 60px;
        background-color: #534891;">
        <a routerLink="accountinfo" style="text-decoration: none;color: white;">
            Account Information</a></button>
    </div>
    <div class="col mt-5">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 60px;
        background-color: #534891;"><a routerLink="changepassword-user" 
        style="text-decoration: none;color: white;">Change Password</a></button>
    </div>
  </div>


  <div>

  </div> -->

  <h3 class="text-center mx-auto mt-4 mb-2">Welcome user</h3>

<div class="row mt-5" >
    <div class="col-lg-2"></div>
    
    <div class="col-lg-4 ">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);" ><a routerLink="transferfunds" style="text-decoration: none;color: white;"> Transfer Funds </a></button>
    </div>
    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="transactionstatements" style="text-decoration: none;color: white;">transactionstatements</a></button>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="accountinfo" style="text-decoration: none;color: white;">Account-info</a></button>
    </div>

    <div class="col-lg-4">
        <button class="btn btn-primary d-block mx-auto m-2" style="width:18rem;height: 70px;background-color: rgb(142, 42, 236);"><a routerLink="changepassword-user" style="text-decoration: none;color: white;">change password</a></button>
    </div>

    <div class="col-lg-2"></div>

    

</div>


